.news {
    padding: 0;
    margin-top: 80px;
    .container {
        padding: 0;
    }
    &__item {
        border: 1px solid #999;
        &-image {
            position: relative;
            transition: all 0.5s;
            .date {
                position: absolute;
                padding: 10px 20px;
                color: gray;
                background-color: #000;
                &:hover {
                    background-color: #fff;
                    color: #000;
                }
                bottom: 0;
            }
        }
        &-content {
            padding: 32px 21px;
            .content {
                &__title {
                    color: #000;
                    font-size: 1rem;
                    &:hover {
                        color: red;
                    }
                }
                &__button {
                    padding: 0;
                    display: block;
                    color: red;
                    margin-top: 25px;
                    border: 1px solid #999;
                    padding: 3px 20px;
                    font-weight: bolder;
                    width: fit-content;
                    font-size: 0.9rem;
                    &:hover {
                        background: $red;
                        color: #fff;
                    }
                }
            }
        }
    }
}